.header-logo {
  img {
    height: 40px;
  }

  .navbar-brand {
    font-size: 26px !important;
    vertical-align: middle;
    font-weight: 900;
    letter-spacing: 0.6;
  }
}
.nav-item .nav-link {
  font-weight: 600;
  font-size: 14px;
  color: #1c1c4e;
}
